{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}

<form class="signout center" method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  <h1>{% trans "Logout" %}</h1>
  
  <p>{% trans 'Are you sure you want to logout?' %}</p>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="submit-btn" type="submit">{% trans 'Yes' %}</button>
</form>


{% endblock content %}
