{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}

<p class="text-align-c">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup center" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <h3>{% trans "Register" %}</h3>
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="submit-btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
  <hr />
  <a class="login-link text-align-c" href="{% provider_login_url 'google' %}"><i class="fa-brands fa-google"></i> Register with Google</a>
</form>

{% endblock content %}
