{% extends "base.html" %}

{% block content %}

<!-- <div class="paralax-wrapper parallax">
    <div class="parallax-layer parallax-image">
      <img class="paralax-img" src="https://i.pinimg.com/originals/9e/20/fc/9e20fc9ba2e1456ff29caa6780521cb7.jpg" alt="Сад изящных слов">
    </div>
    <span class="parallax-layer parallax-text">Сад изящных слов</span>
</div> -->

<div class="parallax-donate">
    <h1>WAYS TO SUPPORT UKRAINE</h1>
</div>

<section class="donate">
    <p class="donate-understand-text">While we understand many are looking for volunteering opportunities in Ukraine, 
        the best way to support the Ukrainian people is to support organizations that are 
        actively accepting and distributing donations to front-line workers and Ukrainians 
        affected by the war.</p>

    <p class="donate-trust-text"><b>ALL ORGANIZATIONS ARE AUDITED AND SHARE RECEIPTS AND REPORTS ON WHAT THEY SPEND MONEY ON</b></p>
    <h3>Donate medical supplies and safety equipment</h3>
    <ul>
        <li><a href="https://u24.gov.ua/" target="_blank">United24</a>: Ukraine’s official fundraising platform founded by President Volodymyr Zelensky. 
            Donors can choose to contribute to <b>defense</b> and <b>demining</b>, <b>medical aid</b>, and/or <b>rebuilding</b> residential 
            areas and infrastructure.</li>
        <li>
            <a href="https://www.rsukraine.org/about-us" target="_blank">Revived Soldiers Ukraine</a>: <b>Non-profit</b> helping to fund soldiers’ rehabilitation.
        </li>
        <li>
            <a href="https://savelife.in.ua/" target="_blank">Come Back Alive Foundation</a>: Ukrainian charity raising money to provide soldiers 
            returning from the war with necessary technology, training, and direct support to <b>readjust to civilian life</b>.
        </li>
        <li>
            <a href="https://www.razomforukraine.org/about-us/" target="_blank">Razom for Ukraine</a>: <b>Non-profit</b> Ukrainian-American human rights organization 
            that supports first responder units with <b>tactical medical kits</b>, medical supplies, medicine, and communication equipment.
        </li>
        <li>
            <a href="https://prytulafoundation.org/en" target="_blank">Serhiy Pritula Charitable Foundation</a>: Charity foundation collecting contributions for 
            generators, stoves, drones, radio charging stations, and military vehicles. They also assemble first aid kits and medical backpacks.
        </li>
        <li>
            <a href="https://www.hospitallers.life/about-us" target="_blank">Hospitallers</a>: Ukrainian <b>volunteer medical battalion</b> raising funds to supply 
            paramedics in the front lines with essential equipment for emergency care and evacuation of the wounded.
        </li>
        <li>
            <a href="https://car4ukraine.com/" target="_blank">Car for Ukraine</a>: Established as a response to the high demand for pickup trucks for the 
            Ukrainian army, the volunteer initiative purchases, upgrades, and delivers 4x4 trucks to the military.
        </li>
    </ul>
    <h3>Aid in evacuation efforts</h3>
    <ul>
        <li>
            <a href="https://vostok-sos.org/en/" target="_blank">Vostok SOS</a>: Ukrainian <b>non-profit</b> foundation organizing temporary housing for internally 
            displaced persons and operating telephone hotlines for war victims and refugees.
        </li>
        <li>
            <a href="https://helpukraine22.org/" target="_blank">Help Ukraine 22</a>: Humanitarian relief project spearheaded by The Committee for Open Democracy in the US, 
            focused on evacuating and supplying <b>humanitarian aid</b> to women, children, and the elderly.
        </li>
        <li>
            <a href="https://ffr.org.ua/en/" target="_blank">Fight For Right</a>: Ukranian <b>nonprofit</b> providing essential resources and evacuation assistance to 
            Ukrainians with disabilities.
        </li>
    </ul>
    <h3>Help children and families affected by the war</h3>
    <ul>
        <li>
            <a href="https://help.gov.ua/en" target="_blank">Humanitarian Aid Website</a>: Official website by the Ukrainian government providing 
            support for Ukraine through monetary donations and humanitarian aid packages, such as hygiene products, baby wipes, canned foods, 
            medical equipment, and more.
        </li>
        <li>
            <a href="https://unitedhelpukraine.org/about-us/" target="_blank">United Help Ukraine</a>: <b>Non-profit</b> distributing donations, food, and 
            medical supplies to Ukrainian refugees.
        </li>
        <li>
            <a href="https://novaukraine.org/donate/" target="_blank">Nova Ukraine</a>: <b>Non-profit</b> taking donations to provide emergency kits for 
            families, as well as hospital equipment.
        </li>
        <li>
            <a href="https://en.everybodycan.com.ua/" target="_blank">Everybody Can</a>: Foundation based in Kyiv providing assistance to Ukrainian children 
            and elders, and donating medical equipment to hospitals.
        </li>
    </ul>
    <h3>Support women during the war</h3>
    <ul>
        <li>
            <a href="https://www.marsh-zhinok.com.ua/donate-for-support" target="_blank">Marsh Zhinok</a>: Public initiative that provides Ukrainian women with 
            food, medicines, hygiene products diapers and baby food, as well as psychological and legal assistance, and temporary housing.
        </li>
        <li>
            <a href="https://uwf.org.ua/en/donate/" target="_blank">Ukrainian Women’s Fund</a>: Raising funds for the immediate needs of women and girls in Ukraine. 
            Donations will cover food, water, hygiene products, medicine and will also support local women’s rights and feminist organizations.
        </li>
    </ul>
    <h3>Support care for older folks in Ukraine</h3>
    <ul>
        <li>
            <a href="https://starenki.com.ua/en/donate/" target="_blank">Starenki</a>: Foundation supplying food parcels and medicine to senior Ukrainians, as 
            well as assistance for isolated older adults to get in touch with their families.
        </li>
    </ul>
    <h3>Care for animals affected by the invasion</h3>
    <ul>
        <li>
            <a href="https://uanimals.org/en/" target="_blank">UAnimals</a>: Animal rights group and charitable fund evacuating animals from military hotspots, 
            supplying feed to animals in need, and rebuilding animal shelters destroyed during the invasion.
        </li>
        <li>
            <a href="https://dogcat.com.ua/en/" target="_blank">Sirius Animal Shelter</a>: Largest homeless animal shelter in Ukraine rescuing and evacuating 
            abandoned animals. Contributions will cover food and treatment of over 3,000 animals in the shelter.
        </li>
    </ul>
    <h3>Help rebuild residential areas</h3>
    <ul>
        <li>
            <a href="https://www.repair-together.com/" target="_blank">Repair Together</a>: Volunteer initiative organizing clean-ups and rebuilding efforts 
            through raves, concerts, and other fundraising efforts.
        </li>
    </ul>
</section>

{% endblock %}