{% extends "base.html" %}

{% block content %}

<section class="donate">
    <p class="donate-first-text">WAYS TO SUPPORT UKRAINE</p>
    <h3>How to Help the People of Ukraine</h3>
    <p>While we understand many are looking for volunteering opportunities in Ukraine, 
        the best way to support the Ukrainian people is to support organizations that are 
        actively accepting and distributing donations to front-line workers and Ukrainians 
        affected by the war.</p>
</section>

{% endblock %}