{% extends "base.html" %}

{% block content %}
{% load custom_filters static %}


<div id="map-container">
    <img src="{% static 'images/map-of-ukraine.jpg' %}" alt="Ukraine Map" id="map-image">

    <div>
        {% for region in regions %}
        <button class="region-button" 
                data-region-images="{{ region.image.url }},{{ region.image2.url }},{{ region.image3.url }},{{ region.image4.url }}" 
                data-region-name="{{ region.name }}"
                data-region-description="{{ region.description }}"
                style="position: absolute; top: {{ region.top_position }}px; left: {{ region.left_position }}px;"
        >
            <i class="fa-solid fa-house-chimney-crack"></i>   
            <div class="region-popup">
                <h2>{{ region.name }}</h2>
                <img class="region-popup-zoom-img" src="{{ region.image.url }}" alt="{{ region.name }}">
                <hr/>
                <p>{{ region.description }}</p>
                <div class="photo-hint">Click to enlarge</div>
            </div>
        </button>
        {% endfor %}
    </div>
</div>

<!-- Add an element for displaying the full-screen image -->
<div id="full-screen-overlay">
    <div id="full-screen-image-container"></div>
</div>



<div class="container-fluid" style="max-width: 1300px; width: 100%; margin: 0 auto; padding: 20px 10px;">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for post in posts_list %}
        <div class="col col-lg-4 col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="image-container">
                        <img width="30px" height="30px"
                            src="https://cdn0.iconfinder.com/data/icons/unigrid-flat-human-vol-2/90/011_101_anonymous_anonym_hacker_vendetta_user_human_avatar-1024.png"
                            alt="card-img">
                        <span class="card-author">{{ post.author }}</span>
                    </div>

                    <div class="card-img-box">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-detail-image" src="{% static 'images/volunteers-default-img.png' %}"
                            width="100%">
                        {% else %}
                        <img class="card-detail-image" src=" {{ post.featured_image.url }}">
                        {% endif %}
                    </div>

                    <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                    </a>
                    <p class="card-content">{{ post.content|truncate_text:170|safe }}</p>
                    <hr />
                    <p class="card-text text-muted h6">
                        {{ post.date_created }} {{ post.number_of_likes }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}