{% extends "base.html" %}

{% block content %}
{% load custom_filters static %}


<section class="parallax-hero">
    <div class="hero-container">
        <div class="hero-block">
            <h2>Help others realize outstanding projects through your knowledge and skills</h2>
            {% if not user.is_authenticated %}
                <a class="button-52 hero-btn" href="{% url 'account_signup' %}">I CAN HELP</a>
            {% endif %}
        </div>
        <div class="hero-middle-line"></div>
        <div class="hero-block">
            <h2>Seek volunteers for your activities and ideas, empowering productive projects</h2>
            {% if not user.is_authenticated %}
                <a class="button-52 hero-btn" href="{% url 'account_signup' %}">I NEED HELP</a>
            {% endif %}
        </div>
    </div>
</section>

<a name="posts"></a>

<section class="container-fluid" id="homepage-container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for post in posts_list %}
        <div class="col col-lg-4 col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div>
                        {% if post.author.userprofile.avatar %}
                            <img width="30" height="30" class="profile-img"
                                src="{{ post.author.userprofile.avatar.url }}"
                                alt="card-img">
                        {% else %}
                            <img width="30" height="30" class="profile-img"
                                src="https://res.cloudinary.com/dyadwedsy/image/upload/v1700328631/volunteer/anonym_nplen6.png"
                                alt="card-img">
                        {% endif %}
                        <span class="card-author">{{ post.author }}</span>
                    </div>
                    <div class="card-img-box">
                        <a href="{% url 'post_detail' post.slug %}">
                            {% if "placeholder" in post.featured_image.url %}
                                <img src="https://res.cloudinary.com/dyadwedsy/image/upload/v1700416693/volunteer/volunteers-default-img_qxgdhq.png"
                                    width="100%" alt="card-img">
                            {% else %}
                                <img src=" {{ post.featured_image.url }}" alt="post-img">
                            {% endif %}
                        </a>
                    </div>

                    <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                    </a>
                    <p class="card-content">{{ post.content|truncate_text:170|safe }}</p>
                    <hr>
                    <p class="card-text text-muted h6">
                        {{ post.date_created }} {{ post.number_of_likes }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Displaying buttons for page switching -->
<div class="pagination">
    <span class="current">Page {{ posts_list.number }} of {{ posts_list.paginator.num_pages }}</span>
    {% if posts_list.has_previous %}
        <a href="?page=1#posts">First</a>
        <a href="?page={{ posts_list.previous_page_number }}#posts">Previous</a>
    {% endif %}

    {% if posts_list.has_next %}
        <a href="?page={{ posts_list.next_page_number }}#posts">Next</a>
        <a href="?page={{ posts_list.paginator.num_pages }}#posts">Last</a>
    {% endif %}
</div>

{%endblock%}