{% extends "base.html" %}

{% block content %}
{% load custom_filters %}

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for post in posts_list %}
            <div class="col col-lg-4 col-md-6 col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            <img 
                                width="30px" height="30px"
                                src="https://cdn0.iconfinder.com/data/icons/unigrid-flat-human-vol-2/90/011_101_anonymous_anonym_hacker_vendetta_user_human_avatar-1024.png" 
                                alt="card-img"
                            >
                            <span class="card-author">{{ post.author }}</span>
                        </div>
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                            <h2 class="card-title">{{ post.title }}</h2>
                        </a>
                        <p class="card-content">{{ post.content|truncate_text:170|safe }}</p>
                        <hr />
                        <p class="card-text text-muted h6">
                            {{ post.date_created }} {{ post.number_of_likes }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{%endblock%}