{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="post-img-box">
    {% if "placeholder" in post.featured_image.url %}
    <img class="post-detail-image" src="https://res.cloudinary.com/dyadwedsy/image/upload/v1700416693/volunteer/volunteers-default-img_qxgdhq.png" width="100%">
    {% else %}
    <img class="post-detail-image" src=" {{ post.featured_image.url }}">
    {% endif %}
</div>
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.date_created }}</p>
            </div>
            <p>
                {{ post.content | safe }}
            </p>
        </div>
    </div>
</div>

{%endblock%}